<form [formGroup]="form" (ngSubmit)="OnSubmit()">
  <h2 class="text-center text-primary" mat-dialog-title>{{mood}}</h2>
  <p class="alert alert-danger text-center" *ngIf="error">{{error.message}}</p>
  <mat-dialog-content>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input required
               formControlName="name"
               matInput
               placeholder="Enter the name for condition"/>
        <mat-error *ngIf="name.hasError('required')">
          Volume <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="name.hasError('err')">
          {{name.errors['err']}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <mat-progress-bar class="p-1 m-1" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <button mat-icon-button color="primary" mat-dialog-close cdkFocusInitial>
      <mat-icon>cancel</mat-icon>
    </button>
    <button [disabled]="form.invalid" mat-icon-button color="primary" type="submit">
      <mat-icon>save</mat-icon>
    </button>
  </mat-dialog-actions>
</form>
