<form class="container-fluid" #form="ngForm" (ngSubmit)="submit(form)">
  <h2 class="text-center" mat-dialog-title>{{mood}}</h2>
  <mat-dialog-content>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <input type="hidden" name="id" [(ngModel)]="candleDayTemp.id">
        <mat-form-field appearance="outline">
          <mat-label>Choose Date</mat-label>
          <input type="text"
                 required
                 readonly
                 #date="ngModel"
                 matInput
                 name="date"
                 [(ngModel)]="candleDayTemp.date"
                 [matDatepicker]="dp3">
          <mat-error *ngIf="date.hasError('required')">
            Date <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="date.hasError('err')">
            {{date.errors['err']}}
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Volume</mat-label>
          <input required
                 #volume="ngModel"
                 name="volume"
                 [(ngModel)]="candleDayTemp.volume"
                 type="number"
                 matInput>
          <mat-error *ngIf="volume.hasError('required')">
            realOpen <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="volume.hasError('err')">
            {{volume.errors['err']}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>realOpen</mat-label>
          <input required
                 #realOpen="ngModel"
                 name="realOpen"
                 [(ngModel)]="candleDayTemp.realOpen"
                 type="number"
                 matInput>
          <mat-error *ngIf="realOpen.hasError('required')">
            realOpen <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="realOpen.hasError('err')">
            {{realOpen.errors['err']}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>realHigh</mat-label>
          <input required
                 #realHigh="ngModel"
                 name="realHigh"
                 [(ngModel)]="candleDayTemp.realHigh"
                 type="number" matInput>
          <mat-error *ngIf="realHigh.hasError('required')">
            realHigh <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="realHigh.hasError('err')">
            {{realHigh.errors['err']}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>realLow</mat-label>
          <input required
                 #realLow="ngModel"
                 name="realLow"
                 [(ngModel)]="candleDayTemp.realLow"
                 type="number"
                 matInput>
          <mat-error *ngIf="realLow.hasError('required')">
            realLow <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="realLow.hasError('err')">
            {{realLow.errors['err']}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>realClose</mat-label>
          <input required
                 #realClose="ngModel"
                 name="realClose"
                 [(ngModel)]="candleDayTemp.realClose"
                 type="number"
                 matInput>
          <mat-error *ngIf="realClose.hasError('required')">
            realClose <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="realClose.hasError('err')">
            {{realClose.errors['err']}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>preOpen</mat-label>
          <input type="number"
                 [(ngModel)]="candleDayTemp.preOpen"
                 matInput
                 required
                 name="preOpen"
                 #preOpen="ngModel">
          <mat-error *ngIf="preOpen.hasError('required')">
            preOpen <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="preOpen.hasError('err')">
            {{preOpen.errors['err']}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>preHigh</mat-label>
          <input type="number"
                 [(ngModel)]="candleDayTemp.preHigh"
                 matInput
                 required
                 name="preHigh"
                 #preHigh="ngModel">
          <mat-error *ngIf="preHigh.hasError('required')">
            preHigh <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="preHigh.hasError('err')">
            {{preHigh.errors['err']}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>preLow</mat-label>
          <input type="number"
                 [(ngModel)]="candleDayTemp.preLow"
                 matInput
                 required
                 name="preLow"
                 #preLow="ngModel">
          <mat-error *ngIf="preLow.hasError('required')">
            preLow <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="preLow.hasError('err')">
            {{preLow.errors['err']}}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm-12 col-md-3">
        <mat-form-field appearance="outline">
          <mat-label>preClose</mat-label>
          <input type="number"
                 [(ngModel)]="candleDayTemp.preClose"
                 matInput
                 required
                 name="preClose"
                 #preClose="ngModel">
          <mat-error *ngIf="preClose.hasError('required')">
            preClose <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="preClose.hasError('err')">
            {{preClose.errors['err']}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <mat-progress-bar class="p-1 m-1" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <button type="button" color="primary" mat-icon-button mat-dialog-close>
      <mat-icon>cancel</mat-icon>
    </button>
    <button color="primary" mat-icon-button type="submit" [disabled]="form.invalid">
      <mat-icon>save</mat-icon>
    </button>
  </mat-dialog-actions>
</form>
