<div class="custom-container">
  <div [ngClass]="(loading?'disable-content':'')">
    <app-candle-day [candleDayList]="candleDayList"
                    [actionColumn]="false"
                    (sort)="sort($event)">
    </app-candle-day>
  </div>
  <section class="fixed-progress-bar" *ngIf="loading">
    <mat-progress-bar color="primary" mode="query"></mat-progress-bar>
  </section>

  <div class="fixed-option-btn-container">
    <button (click)="refresh(getHttpParams())" mat-icon-button>
      <mat-icon>cached</mat-icon>
    </button>
  </div>
</div>
<mat-paginator [ngClass]="(loading?'disable-content':'')" [length]="page?.totalElements"
               [pageSize]="page?.size"
               [pageIndex]="page?.currentPage"
               (page)="changePage($event)"
               showFirstLastButtons>
</mat-paginator>
