<div class="candle-custom-container">
  <div class="mat-elevation-z8">
    <table mat-table matSort
           (matSortChange)="sortData($event)"
           [dataSource]="dxyDaySource">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- date Column -->
      <ng-container matColumnDef="date" sticky>
        <th mat-header-cell mat-sort-header="date" *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <!-- volume Column -->
      <ng-container matColumnDef="volume">
        <th mat-header-cell mat-sort-header="volume" *matHeaderCellDef>Volume</th>
        <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
      </ng-container>

      <!-- realOpen Column -->
      <ng-container matColumnDef="realOpen">
        <th mat-header-cell *matHeaderCellDef>realOpen</th>
        <td mat-cell *matCellDef="let element"> {{element.realOpen}} </td>
      </ng-container>
      <!-- preOpen Column -->
      <ng-container matColumnDef="preOpen">
        <th mat-header-cell *matHeaderCellDef>preOpen</th>
        <td mat-cell *matCellDef="let element"> {{element.preOpen}} </td>
      </ng-container>

      <!-- realHigh Column -->
      <ng-container matColumnDef="realHigh">
        <th mat-header-cell *matHeaderCellDef>realHigh</th>
        <td mat-cell *matCellDef="let element"> {{element.realHigh}} </td>
      </ng-container>

      <!-- preHigh Column -->
      <ng-container matColumnDef="preHigh">
        <th mat-header-cell *matHeaderCellDef>preHigh</th>
        <td mat-cell *matCellDef="let element"> {{element.preHigh}} </td>
      </ng-container>


      <!-- realLow Column -->
      <ng-container matColumnDef="realLow">
        <th mat-header-cell *matHeaderCellDef>realLow</th>
        <td mat-cell *matCellDef="let element"> {{element.realLow}} </td>
      </ng-container>

      <!-- preLow Column -->
      <ng-container matColumnDef="preLow">
        <th mat-header-cell *matHeaderCellDef>preLow</th>
        <td mat-cell *matCellDef="let element"> {{element.preLow}} </td>
      </ng-container>

      <!-- realClose Column -->
      <ng-container matColumnDef="realClose">
        <th mat-header-cell *matHeaderCellDef>realClose</th>
        <td mat-cell *matCellDef="let element"> {{element.realClose}} </td>
      </ng-container>

      <!-- preClose Column -->
      <ng-container matColumnDef="preClose">
        <th mat-header-cell *matHeaderCellDef>preClose</th>
        <td mat-cell *matCellDef="let element"> {{element.preClose}} </td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent"
                  (click)="edit(element); $event.stopPropagation()">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn"
                  (click)="delete(element); $event.stopPropagation()">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
